$--height-toolbar: 4em;
$--width-sidebar: 12em;
$--border-base: 1px solid rgba(0, 0, 0, 0.08);
$--color-primary: #409eff;
$--color-danger: #F56C6C;
$--color-text-regular: #606266;
$--color-text-placeholder: #c0c4cc;
$--color-text-secondary: #909399;
$--color-background-base: #f6f6f6;
$--box-shadow-base: 0 1px 3px rgba(26, 26, 26, 0.1);
